body {
    text-align: center;
    background-color: #ffffff;
}

#videoContainer {
    position: relative;
    display:none;
    border: 4mm ridge rgba(79, 43, 16, .6);
    border-radius: 25px;
    --stripe: 7px;
    background: repeating-linear-gradient(45deg, #3a5035 0 var(--stripe), #30482b var(--stripe) calc(var(--stripe) * 2));
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
#infoContainer {
    position: relative;
    border: 4mm ridge rgba(79, 43, 16, .6);
    border-radius: 25px;
    --stripe: 7px;
    background: repeating-linear-gradient(45deg, #3a5035 0 var(--stripe), #30482b var(--stripe) calc(var(--stripe) * 2));
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#video {
    display: block;
    margin: 0 auto;
}
#message {
  color: white;
  font-size: 35px;
  margin-top: 20px;
}
#baguettesInfos {
    display:none;
}

.photoButton {
    margin-top: 20px;
    background: transparent;
    border: none;
}
.captureImage {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
}

.text_reco {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 35px;
    margin-left: 60px;
    margin-right: 60px;
}
.selectButton {
    font-size: 40px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
}