<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu-Mystery</title>

    <style>
        #redirection {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px;
        }

        #filterRestoBut {
            font-size: 40px;
        }
    </style>
</head>

<body>
    <div id="header_gasha">
        <img id="returnButton" src="../assets/images/back_previous.png" alt="returnButton">
        <p id="middle-text_gasha">
            <span class="title-text_gasha">
                Secouez ou cliquez pour tirer une bille au sort !
            </span>
        </p>
    </div>

    <div id="imageFrame">
        <img id="imageDisplay" onclick="handleImageClick()" style="cursor: pointer;">
        <div id="redirection">
            <p id="displayTypeText"></p>
            <button id="filterRestoBut" class="login-out" onclick="redirectAndDisplayRestaurants()" style="display: none;">
                <b>Voir les restaurants!</b>
            </button>
        </div>
    </div>

</body>

<script src="../js/gashapon.js"></script>

</html>
