<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu-Mystery</title>
</head>

<body>
    <div id="header_gasha">
        <img id="returnButton" src="../assets/images/back_previous.png" alt="returnButton">
        <p id="middle-text_gasha">
            <span class="title-text_gasha">
                Secouez ou cliquez pour tirer une bille au sort !
            </span>
        </p>
    </div>
    <div id="imageFrame">
        <img id="displayedImage" src="../assets/images/gesh_lum1.jpg" alt="default_image">
    </div>

    <div id="redirection">
        <p id="displayTypeText"></p>

        <button id="filterRestoBut" class="login-out" onclick="redirectAndDisplayRestaurants()">
            <br><br><b style="font-size: 28px;">Redirection</b>
        </button>

    </div>
</body>

<script src="../js/gashapon.js"></script>

</html>
