<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu-Mystery</title>
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="../css/front.css">
    <link rel="stylesheet" href="../css/foodlist.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <br><br><br><br>
    <div id="container_playlists">
        <div id="text_page_playlists">
            Connectez-vous pour accéder à vos foodlists
        </div>
    </div>

    <!-- Modal for creating a foodlist -->
    <div id="createFoodListModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <br><div style="display: flex; align-items: center; justify-content: space-between; text-align: center;">
                <img src="../assets/images/marguerite_craie.webp" alt="m" width="150" style="margin-right: 20px;" loading="lazy">
                <h2 id="create_list_text" style="font-size: 60px; color: white; font-family: 'Great Vibes', cursive; margin: 0 20px;">Créer une nouvelle liste de restaurants</h2>
                <img src="../assets/images/poulpy_craie.webp" alt="p" width="150" style="margin-left: 20px;" loading="lazy">
            </div><br>
            <form>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <label id="name_list_text" for="foodlistName" style="font-size: 40px; color: white; margin-right: 40px;">Nom de la liste :</label>
                    <input type="text" id="foodlistName" name="foodlistName" required>
                </div>
                <br><br>
                <label id="restaurants_to_add_txt" style="font-size: 40px; color: white;">Restaurants à inclure :</label><br>
                <div id="scrollBoxContainer">
                    <div id="restaurantCheckboxes"></div>
                </div>

                <br><br><button type="button" id="button_foodlists" onclick="createFoodList()">Créer</button>
            </form>
        </div>
    </div>

    <div style="display: flex; margin-left: 5%">
        <button id="modalCreationButton" onclick="openModal()">
            <img src="../assets/images/add_foodlist.png" alt="Créer une nouvelle liste" width="15%">
            <label id="create_new_list_txt" style="font-size: 30px; vertical-align: middle;">Créer une nouvelle liste</label>
        </button>
    </div>

    <br><br><br><div id="foodlist_list"></div> <!--TODO: Pas ouf de coder en dur la taille, pb avec le footer ? "%" ne marche pas-->

</body>

<script src="../js/foodlist.js"></script>

</html>
