<!DOCTYPE html>
<html>
<head>
    <title>Reconnaissance d'objets japonais</title>
</head>
<body>
    <h1>Montre moi la bouffe:</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="startButton">Lancer la reconnaissance!</button>
    <button id="captureButton">Capturer une photo</button>
    <canvas id="capturedImage" width="640" height="480"></canvas>
    <div id="predictions"></div>
    <div id="message"></div>
    <script src="../js/reconnaissance-objets.js"></script>
</body>
</html>
