<!DOCTYPE html>
<html>

<head>
    <title>Reconnaissance d'objets japonais</title>
    <link rel="stylesheet" href="../css/reconaissance.css">
</head>

<body>
    <br><br>
    <button id="ouvrirReconnaissance" class="selectButton">Ouvrir la reconnaissance d'objets</button>&nbsp
    <button id="ouvrirChopsTrain" class="selectButton">Ouvrir l'entrainement avec des baguettes</button><br>
    
    <div id="baguettesInfos">
        <div id="infoContainer">
            <p id="infoContainer_txt_1"> Point info' : </p>
            <p id="infoContainer_txt_2"> Les baguettes sont employées comme des </p>
            <p id="infoContainer_txt_3"> couverts à table au Japon. </p>
            <p id="infoContainer_txt_4"> Voici une illustration de la </p>
            <p id="infoContainer_txt_5" > manière correcte de les manipuler :</p>
        </div>
        <br><br>
        <img src="../assets/images/demo_chopsticks.jpg" alt="demo" width="70%"><br>
        <div id="now_you_play_txt" style="font-size: 28px; font-weight: bold;"> Maintenant à vous de jouer ! </div>
    </div>

    <div id="videoContainer">
        <video id="video" width="640" height="480" autoplay></video>
        <br><br>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
           
        <p id="text_no_permission" style="display:none;"> Please, allow access to the camera </p>

        <!-- chopsticks -->
        <div id="text_reco2" class="text_reco">
            <p id="text_reco2_txt_1"> Prenez une photo de la façon </p>
            <p id="text_reco2_txt_2"> dont vous tenez vos baguettes... : </p><br>
            <button id="verifyButton" class="photoButton">
                <img class="captureImage" src="../assets/images/reco_icon.png" alt="prendre photo">
            </button>
            <button id="switchCamera2" class="photoButton">
                <img class="captureImage" src="../assets/images/switch.png" alt="change camera">
            </button>
            <p id="text_reco2_txt_3"> ... et découvrez le résultat :</p>
        </div>

        <!-- object recognizer -->
        <div id="text_reco1" class="text_reco">
            <p id="text_reco_text_1"> Prenez une photo de la nourriture </p>
            <p id="text_reco_text_2"> ou la vaisselle avec votre appareil... :</p><br>
            <button id="captureButton" class="photoButton">
                <img class="captureImage" src="../assets/images/reco_icon.png" alt="prendre photo">
            </button>
            <button id="switchCamera1" class="photoButton">
                <img class="captureImage" src="../assets/images/switch.png" alt="change camera">
            </button>
            <p id="text_reco_text_3"> ... et découvrez le résultat : </p>  
        </div>

        <div id="message"></div> 
    </div>

    <br><br><br><br><br><br><br><br>


</body>

<script src="../js/camera.js"></script>
<script src="../js/reconnaissance-objets.js"></script>
<script src="../js/train_chopsticks.js"></script>

</html>
