<!DOCTYPE html>
<html>

<head>
    <title>Reconnaissance d'objets japonais</title>
    <link rel="stylesheet" href="../css/reconaissance.css">
</head>

<body>
    <br><br>
    <button id="ouvrirReconnaissance">Ouvrir la reconnaissance d'objets</button>&nbsp
    <button id="ouvrirChopsTrain">Ouvrir l'entrainement avec des baguettes</button><br>

    <div id="videoContainer">
        <button id="startButton">Cliquez ici pour allumer la caméra!</button>
        <br><br>
        <video id="video" width="640" height="480" autoplay></video>
        <br><br>

        <div id="text_reco">
            Prenez une photo de la nourriture <br>ou la vaisselle avec votre appareil... :<br><br>
            <button id="captureButton">
                <img id="captureImage" src="../assets/images/reco_icon.png" alt="prendre photo">
            </button><br><br>
            ... et découvrez le résultat :
        </div>
        <canvas id="capturedImage" width="640" height="480"></canvas>

        <div id="predictions"></div>
        <div id="message"></div>
    </div>

    <div id="baguetteContainerall">
        <div id="infoContainer">
            <p> Point info' :<br> Les baguettes sont employées comme des <br>couverts à table au Japon.<br>
        Voici une illustration de la<br> manière correcte de les manipuler :</p>
        </div>
        <img src="../assets/images/demo_chopsticks.jpg" alt="demo" width="70%">
        <p> Maintenant à vous de jouer ! </p>
        <div id="baguetteContainer">
            <button id="startButtonChop">Cliquez ici pour allumer la caméra!</button>
            <br><br>
            <video id="videoChop" width="640" height="480"></video>
            <br><br>
            <div id="text_reco2">
                Prenez une photo de la façon <br>dont vous tenez vos baguettes... :<br><br>
                <button id="verifyButton">
                    <img id="captureImage2" src="../assets/images/reco_icon.png" alt="prendre photo">
                </button><br><br>
                ... et découvrez le résultat :
            </div>
            <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>

            <div id="resultMessages"></div>
        </div>
    </div><br><br><br><br><br><br><br><br>


</body>

<script>
    var videoContainer = document.getElementById("videoContainer");
    var baguetteContainer = document.getElementById("baguetteContainerall");
    var currentContainer = null;

    document.getElementById("ouvrirReconnaissance").addEventListener("click", function () {
        toggleContainer(videoContainer);
    });

    document.getElementById("ouvrirChopsTrain").addEventListener("click", function () {
        toggleContainer(baguetteContainer);
    });

    function toggleContainer(container) {
        if (container !== currentContainer) {
            if (currentContainer) {
                currentContainer.style.display = "none";
            }
            container.style.display = "block";
            currentContainer = container;
        } else {
        }
    }
</script>

<script src="../js/reconnaissance-objets.js"></script>
<script src="../js/train_chopsticks.js"></script>

</html>
